.App {
  height: 100vh;
  padding-top: 10px;
  background-image: url(https://fondosmil.com/fondo/25215.jpg);
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-contenedor {
  width: 100%;
  height: 150px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 100%;
}

.contenedor-calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #d8e30d;
  border-radius: 20px;
  border: 5px solid white;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}